<%- title "D&C beta - #{@note.title}" %>
<section id="note-wrapper">
  <h1 id="note_title"><%= @note.title %></h1>
  <article id="note-content">
    <div id="game-data">
      <p><%= @note.game_name %></p>
      <p><%= @note.game_type %></p>
    </div>
    <div>
      <%= @note.content %></div>
  </article>
</section>