

html, body {
    height: 100%;
}

body, a {
    font-family: Arial;
    color: black;
}

body, header, ul, h1, input, button, li, p, h2 {
    margin: 0; padding: 0;
    box-sizing: border-box;
    border: none;
}

#success-flash, #danger-flash {
    position: absolute;
    z-index: 999;
    top: 20px;
    left: 20%;
}

#success-flash {
    width: 300px;
    margin-bottom: 20px;
    text-align: center;
    background-color: rgba(16,255,101, 0.3);
    padding: 10px;
    border-radius: 3px;
    border: 1px solid rgba(16,255,101, 0.5);
}

#danger-flash {
    width: 300px;
    margin-bottom: 20px;
    text-align: center;
    background-color: rgba(240,128,128, 0.3);
    padding: 10px;
    border-radius: 3px;
    border: 1px solid rgba(240,128,128, 0.5);
}

/*
    Default header
 */

#main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: #ffff;
    width: 100%;
    padding: 10px 150px 10px 150px;
    z-index: 99;
}

#main-menu {
    display: flex;
    margin: 0 20px;
}

#main-menu section {
    display: flex;
    align-items: center;
}

.contextual-link {
    margin-right: 15px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

/*
    connection / inscription / profil edit form style
 */

.form-section, #form-wrapper form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-section {
    height: 300px;
    margin: auto;
    padding-top: 70px;
}

.form-section h1 {
    text-align: center;
    font-size: 2.3em;
    margin-bottom: 20px;
}

#form-wrapper, #form-wrapper form{
    height: 100%;
    min-width: 300px; max-width: 300px;
}

#form-wrapper form input {
    font-size: 15px;
    line-height: 26px;
    padding: 4px 10px;
    border-radius: 3px;
    box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px inset, rgba(15, 15, 15, 0.1) 0px 1px 1px inset;
    background: rgba(242, 241, 238, 0.6) none repeat scroll 0% 0%;
    cursor: text;
    margin-top: 4px;
    margin-bottom: 8px;
    min-width: 300px; max-width: 300px;
}

#form-wrapper button {
    font-size: 18px;
    color: white;
    line-height: 26px;
    padding: 4px 10px;
    border-radius: 3px;
    box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 1px 1px;
    background-color: cornflowerblue;
    cursor: pointer;
    margin-top: 4px;
    margin-bottom: 8px;
}

#form-wrapper a {
    color: black;
    margin: 10px 0;
    text-decoration: none;
}


#errors-wrapper {
    margin-bottom: 10px;
    font-size: 1.2rem;
}

#errors-wrapper li{
    list-style: none;
}

@media all and (max-width: 768px) {
    /*
        #main-header {
            flex-direction: column;
        }

        #main-menu section {
            flex-direction: column;
            text-align: center;
        }

        #context-link {
            flex-direction: column;
            margin-top: 40px;
        }

        #context-link a {
            margin-right: 0;
        } */
    #main-header {
        padding: 20px 40px;
    }

    #main-menu {
        margin: 0;
    }

    .delete-link {
        display: none;
    }

    .form-section {
        padding-top: 120px;
    }
}