#flash-message {
    z-index: 1111;
    top: -500px;
    position: absolute;
    width: 250px;
    left: calc(50% - 125px);
    margin: 20px 0 0 0;
    opacity: 0;
}

#affiche {
    position: relative;
    z-index: 1111;
    top: -40px;
    width: 250px;
    height: auto;
    border-radius: 3px;
    text-align: center;
    background-color: #51a351 !important;
    -webkit-box-shadow: 14px 17px 44px -21px rgba(0, 0, 0, 0.49);
    -moz-box-shadow: 14px 17px 44px -21px rgba(0, 0, 0, 0.49);
    box-shadow: 14px 17px 44px -21px rgba(0, 0, 0, 0.49);
}

#message h2{
    padding: 0 10px 0 10px;
    padding: 10px 0 10px 0;
    font-size: 1em;
    color: white;
    font-weight: 400;
}

.anim_longue {
    -webkit-animation: flashanim 2.8s ;
    -moz-animation:    flashanim 2.8s ;
    -o-animation:      flashanim 2.8s ;
    animation:         flashanim 2.8s ;
}
.anim_courte {
    -webkit-animation: flashanim 2.3s ;
    -moz-animation:    flashanim 2.3s ;
    -o-animation:      flashanim 2.3s ;
    animation:         flashanim 2.3s ;
}

@keyframes flashanim {
    0%   {
        top: 0px;
        opacity: 0;
    }
    15% {
        opacity: 1;
    }
    80% {
        top: 35px;
        opacity: 1;
    }
    92% {
        top: 35px;
        opacity: 1;
    }
    99% {
        top: 35px;
        opacity: 1;
    }
    100% {
        top: -200px;
    }
}